<footer>
  <div class="card-group m-3 ">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="pt-2">LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="pt-2">AROUND THE WEB</h3>
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100019791409024" target="_blank" class="text-white"><i class="fa-brands fa-facebook mx-1 icon"></i></a>
            <a href="https://twitter.com/MOhamed73924934" target="_blank" class="text-white"><i class="fa-brands fa-twitter mx-1 icon"></i></a>
            <a href="https://www.linkedin.com/in/moahmed-abdallah-191800170/" target="_blank" class="text-white"><i class="fa-brands fa-linkedin-in mx-1 icon"></i></a>
            <a href="#home" target="_blank" class="text-white"><i class="fa-solid fa-globe mx-1 icon"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="pt-2">ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <div class="p ">
    <p class="pt-lg-4">Copyright © Your Website 2021</p>
  </div>
</footer>
