<div class="home d-flex justify-content-center align-items-center text-white">
  <div class="text-center">
      <img src="./assets/images/avataaars.svg" class="mb-3" alt="">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder">Angular Monster</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3 "></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3 "></div>


      <div class="">Graphic Artist - Web Designer - Illustrator</div>
  </div>


</div>
